/* layout for my resume */
body, html {
	margin: 1em;
	background: #fff;
	color: #000;
	font-family: sans-serif;
	font-size: 10pt;
}
h1 {
	font-size: 18pt;
}
h2 {
	font-size: 14pt;
}
h3 {
	font-size: 12pt;
}
p,dl,ul,ol {
	font-size: 10pt;
	margin-left: 2em;
}
p  {
	margin-left: 2em;
}
dt {
	font-weight: bold;
}
.documentinfo {
	font-size: 8pt;
}
table, tr {
	padding: 0px;
}
td {
	border-width: 4px;
	padding: 0px;
/*	border-style: solid;
	border-color: gray;
	background-color: #ccc; */
}
